   .banner {
        display: flex;
        overflow: hidden;
        margin-top: 90px;
        position: relative;
   }
   
   .prev {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background-color: #000000;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1000;
   }

    .next {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          background-color: #000000;
          color: white;
          border: none;
          padding: 10px;
          cursor: pointer;
          z-index: 1000;
    }

    
   


