<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <title>Categorias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/header.css">
    
</head>
<body>
   <header>
        <div class="header">
            <img class="logo" src="/static/img/logo.png" alt="logo">
            <a href="/index.html">Início</a>
            <a href="/static/templates/categorias.html">Categorias</a>
            <a href="/static/templates/ofertas.html">Ofertas</a>
            <a href="/static/templates/favoritos.html">Favoritos</a>
            <a href="/static/templates/configuracao.html">Configuração</a>
            <a href="/index.html"><img class="meu_carrinho" src="/static/img/carrinho.png" alt="meu carrinho"></a>
            <input type="text" class="search" placeholder="O que você procura?">
        </div>
    </header> 
</body>
</html>